.boxfooter{
    height: 25rem;
    width: 46rem;
    margin-top: 6rem;
    margin-left: 21rem;

    border-radius: 8px;
   
   
    border-top: 1px solid var(--gray-400);
}

.boxContent{
    height:8.75rem;
    width: 46rem;

    margin-top: 5rem;
  

    position: relative;
    left: 10rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.contentOne{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9rem;
}

.contentTwo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
}

/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    flex-direction: column;
} */
































